.containerS {
  display: flex;
  background-color: rgb(238, 238, 238);
}

.wrapperS1 {
  margin: 5px;
  width: 600px;
}

.star-titleS {
  padding: 5px;
}

.wrapperS2 {
  margin: 5px;
}

.descriptionS {
  display: flex;
  justify-content: space-between;
  width: 200px;
  font-size: smaller;
}

.star-titleS {
  width: 300px;
  height: 600px;
}