.containerS {
  display: flex;
  background-color: rgba(253, 253, 253, 0.945);
  margin: 20px;
  box-shadow: 0px 5px 5px rgba(153, 146, 146, 0.637);
  height: 800px;
}

.wrapperS1 {
  margin: 25px;
  width: 600px;
  height: 500px;
}

.star-titleS {
  padding: 15px;
  background-color: white;
  width: 400px;
  height: auto;
  box-shadow: 0px 3px 3px rgba(192, 191, 191, 0.801);
}

.text-imageS h4 {
  text-align: end;
  text-shadow: black;
  font-weight: lighter;
}

.product-userS {
  margin-top: 5px;
}

.avatar-userS img {
  width: 80px;
  border-radius: 50%;
  object-fit: contain;
  margin-left: 50px;
  margin-right: 30px;
  margin-bottom: 20px;
  align-content: center;
}

.backgroundimgS img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.wrapperS2 {
  margin-right: auto;
  margin: 25px;
  padding: 6px;
  text-align: center;
  justify-content: space-between;
}

.descriptionS {
  display: flex;
  justify-content: space-around;
  width: 400px;
  font-size: 15px;
  text-align: left;
}

.star-descS {
  text-align: left;
}

.descriptionS p {
  width: 300px;
  text-align: left;
}

#map {
/*  margin-left: auto;
  margin-right: 10px;*/
  left: auto;
  width: 400px;
  height: 200px;
}

.book-starS {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 5px;
}


.colonne-form {
  align-items: left;
  width: 50%
}

.product-userS {
  display: flex;
}

.form-wrapper {
  padding-left: 30px;
}


