<div class="container">
  <h1>PLEASE</h1>
  <hr>
  <h4> Find by category of movies or a series you like:</h3>
  <div class="cards mr-4 ml-4">
   <% @stars.each do |star| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
     <%= link_to star.category, star_path(star)  %>
    </div>
    <div class="card-product-infos">
     <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg", alt: "alttext", class: "avatar-bordered" %>
     <%= link_to star.name, star_path(star)  %>
    </div>
   <% end %>
  </div>
</div>


<hr>
<!-- A VOIR EN AJAX OU JAVA POUR SCROLL DE GAUCHE A DROITE
  <div class="card-product mr-4 ml-4 mb-5">
   <%# @stars.each do |star| %>
   <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
     <%#= link_to star.name, star_path(star)  %>
    </div>
   <%# end %>
  </div>
 -->
<hr>

<!-- AUTRE SOLUTION FORMAT GRID AVEC 4FR

<div class="container">
  <h1>Choose the character you want to spend the day with</h1>
  <hr>
  <h4> Find by category of movies or a series you like:</h3>
  <div class="cards mr-4 ml-4">
   <%# @stars.each do |star| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
     <%#= link_to star.category, star_path(star)  %>
    </div>
   <%# end %>
  </div>
  <hr>
  <div class="card-product mr-4 ml-4 mb-5">
   <%# @stars.each do |star| %>
   <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
     <%#= link_to star.name, star_path(star)  %>
    </div>
   <%# end %>
  </div>
</div>
 -->

