<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MeetFlix</title>
</head>
<body>
  <!-- INFO BAR -->
  <div>
    <p>Informations COVID 19</p>
  </div>
  <!-- NAVBAR -->
  <div class="container">
    <div>
      <img id="../../images/MEETFLIX-LOGO.png" src="" alt="">
    </div>

    <div>
      <ul>
        <li>langues</li>
        <li>Héberger des stars</li>
        <li>Créer une expérience</li>
        <li>Aide</li>
        <li>Connexion</li>
      </ul>
      <div class="inscription">
        <a href="">Inscription</a>
      </div>
    </div>

  </div>
  <!-- FORM FILTER -->
  <div>
    <form>
      <input type="" name="">
      <input type="" name="">
      <input type="" name="">
      <input type="submit" name="">
    </form>
  </div>

  <!-- CARDS EXPERIENCE /CATEGORIES -->
  <div class="products">
    <h2>Nous surmonterons cette épreuve ensemble, malgré l'éloignement.</h2>

    <div class="cards">
      <div class="card">
      </div>

      <div class="card">
      </div>

      <div class="card">
      </div>
    </div>
  </div>

  <!-- LIVE A STAR EXPERIENCE -->
  <div class="experience">
    <div>
      <h2>Découvrez les expériences en ligne</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
      <img src="">
    </div>
    <div class="card">
    </div>

    <div class="card">
    </div>
  </div>

  <!-- FOOTER -->


</body>
</html>



