<!--  HERO  -->

  <div class="hero">
    <div class="container">
      <h1 class="animate__backInLeft">Live a Meetflix Experience</h1>
      <p>Bored of spending your time with Mr(s) Nobod'?</p>
      <span class="span">New</span>
      <span class="span">Famous</span>
    </div>
  </div>



  <!-- FORM FILTER -->

  <div class="flex-container">
    <div class="item-container">
      <p>Select your star</p>
      <input type="text" name="text" placeholder="Pick a star">
    </div>

    <div class="item-container">
      <p>Pick a date</p>
      <input type="date" name="dateofdate" id="dateofdate">
    </div>

    <div class="item-container">
      <a class="button" href="#">Search</a>
    </div>
  </div>


  <!-- LIVE A STAR EXPERIENCE -->
  <div class="container-experience container">
    <div>
      <div class="card-trip">
        <img src="https://res.cloudinary.com/dnzggrpqe/image/upload/v1589900744/cersei_auj4y9.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Cersei</h2>
            <p>Take back the throne with Cersei</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>

    <div>
      <div class="card-trip">
        <img src="https://res.cloudinary.com/dnzggrpqe/image/upload/v1589926194/tokyo_tn2xc0.webp" />
        <div class="card-trip-infos">
          <div>
            <h2>Tokyo</h2>
            <p>Rob a bank with Tokyo</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>

    <div>
      <div class="card-trip">
        <img src="https://res.cloudinary.com/dnzggrpqe/image/upload/v1589926470/peakyblinders3003a_zh1xex.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Tommy</h2>
            <p>Gamble with Tommy</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>
  </div>

  <div class="container-experience container">
    <div>
      <div class="card-trip">
        <img src="https://res.cloudinary.com/dnzggrpqe/image/upload/v1589928646/jane-the-virgin-netflix-intrigues-casting-date-de-sortie-toutes-les-infos-sur-la-saison-5_yuwqd0.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Jane</h2>
            <p>Sweet Mexican vibes with Jane</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>

    <div>
      <div class="card-trip">
        <img src="https://res.cloudinary.com/dnzggrpqe/image/upload/v1589928725/outlander_niyj3j.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Jamie</h2>
            <p>Fight a scottish battle with Jamie!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>

    <div>
      <div class="card-trip">
        <img src="https://res.cloudinary.com/dnzggrpqe/image/upload/v1589928878/120801mag-gabriel-macht-suits1_v7ojh1.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Harvey</h2>
            <p>Win a lawsuit with Harvey</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>
  </div>






