// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "components/form";
@import "components/footer";
@import "pages/index";
@import "pages/showstar";
@import "pages/home";


.container {
  width: 1900px;
}

.login-bg {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}


.container-orders {
  margin-bottom: 30px;
  margin-top: 30px;
}


.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.underline {
  text-decoration: underline;
  color: #D32F26;
}
.col-img {
  /*background-image: url(https://images.unsplash.com/photo-1578934644323-a65dd8502ed6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80);*/
  background-size: cover;
/*  background-color: black;*/
  cursor: pointer;
  width: 50%;
}

.col-form {
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  width: 50%;
}

.col-last-post {
  padding: 40px;
  width: 50%;
}

.col-last-order {
  padding: 40px;
  width: 50%;
}

.w-100-bg {
  background-color: #f3c9d9;
}

.color-segment {
  background-color: #f3c9d9;
  padding-left: 100%;
  width: 100%;
}

.avatar-userS {
  align-items: right;
}
